/* BOOK CARD STYLE */
.book-card {
    width: 247px;
    height: 100%;
    background: transparent;
    border: 1px solid var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-card img {
    width: 247px;
    height: 324px;
    border: 1px solid var(--green);
}

.text-container {
    width: 100%;
    height: 100%;
    padding: 10px 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.book-author {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
}

.book-author p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.5);
}

.book-title {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.book-title h2 {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--blue-red);
}

.buy-button {
    font-size: 14px;
    line-height: 18px;
    
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid var(--green);
    background-color: var(--white);
    color: var(--blue-red);
}

.buy-button:hover {
    background: var(--green);
    color: white;
}

.buy-button > p > span {
    font-weight: 700;
}

.info-button {
    font-size: 14px;
    line-height: 18px;

    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    text-decoration: underline;
    background: transparent;
    cursor: pointer;
    border: none;
    color: var(--blue-red);
}

.info-button:hover {
    color: var(--green);
}