/*  CATALOG SECTION STYLE */

.catalog-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.catalog-header {
    width: 100%;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--green);
    color: var(--green);
}

.catalog-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 3.75rem;
}